.hero {
  margin-top: 60px;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0px;
  border-radius: 40px;

  box-shadow: 0 16px 40px rgba(3, 255, 45, 0.06);
}


.hero-top {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 25px;
}

.hero-top-number {
  font-size: 32px;
  font-weight: 800;
  color: #000;
}

.hero-tag {
  display: inline-flex;
  align-items: center;
  padding: 6px 14px;
  border-radius: 999px;
  border: 2px solid #173B6C;
  font-size: 18px;
  color: #173B6C;
}

.hero-text h1 {
  font-size: 95px;
  font-weight: 800;
  line-height: 1.05;
  color: #133B6C;
  margin-bottom: 45px;
  text-transform: uppercase;
}


.hero-subtitle {
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 35px;
}


.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  background: #000;
  color: #fff;

  padding: 14px 20px;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;

  transition: 0.2s ease;

  position: relative;
  overflow: hidden;
}




.hero-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.hero-btn-text {
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hero-btn-icon-circle {
  border-radius: 999px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;

  position: relative;
  left: 0;
  transition: left 0.4s ease;
}


.hero-btn.animating {
  background: linear-gradient(135deg, #4f46e5, #5f5bff);
}

.hero-btn.animating .hero-btn-text {
  opacity: 0;
  transform: translateX(10px);
}

.hero-btn.animating .hero-btn-icon-circle {
  left: var(--circle-shift, 0px);
}



.hero-btn-icon {
  transform: translateY(1px);
}

.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


.hero-image img {
  width: auto;
  height: auto;
}






/* === ABOUT US === */

.about {
  margin-top: 200px;
  padding-bottom: 140px;
}

.about-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}


.about-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.about-title {
  font-size: 83px;
  font-weight: 700;
  color: #173B6C;
  margin-bottom: 40px;
}

/* ===== ЛЕВАЯ БОЛЬШАЯ КАРТОЧКА С ТЕКСТОМ ===== */

.about-content {
  display: flex;
  gap: 60px;
  padding: 40px 60px 60px;
  border-radius: 40px;
  border: none;
  position: relative;



}

.about-content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px;


  border: 3px solid #173B6C;


  mask:
    radial-gradient(600px at bottom left, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%) top left,
    radial-gradient(600px at bottom right, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%) top right,
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

  -webkit-mask-composite: intersect;
  mask-composite: intersect;

  pointer-events: none;
}




.about-col {
  flex: 1;
}

.about-col p {
  font-size: 20px;
  line-height: 1.6;
}



.about-illustration {
  margin-top: 40px;
  width: 300px;
  height: 297px;
  position: relative;

  border-radius: 32px;
  overflow: hidden;
}


.about-illustration::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;

  border: 3px solid #173B6C;

  mask:
    radial-gradient(250px at bottom left, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%) top left,
    radial-gradient(250px at bottom right, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%) top right,
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);

  -webkit-mask-composite: intersect;
  mask-composite: intersect;

  pointer-events: none;
  z-index: 3;
}


.about-illustration::after {
  content: "";
  position: absolute;


  inset: 12px;

  border-radius: 26px;

  background: linear-gradient(to bottom,
      rgba(139, 171, 229, 1) 0%,
      rgba(139, 171, 229, 0.6) 10%,
      rgba(139, 171, 229, 0.25) 60%,
      rgba(139, 171, 229, 0) 80%);

  z-index: 1;
}


.about-illustration img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}


.about-col-middle p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.about-btn {
  padding: 12px 32px;
  border-radius: 999px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.about-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}



.about-right {
  max-width: 420px;
}

.about-photo-frame {
  position: relative;
  border-radius: 40px;

  overflow: hidden;
  margin-bottom: 20px;
}


.about-photo-frame::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px;
  border: 3px solid #173B6C;


  mask:
    radial-gradient(250px at bottom left, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%) top left,
    radial-gradient(250px at bottom right, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%) top right,
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);

  -webkit-mask-composite: intersect;
  mask-composite: intersect;

  pointer-events: none;
  z-index: 2;
}

.about-photo-frame::after {
  content: "";
  position: absolute;

  inset: 12px;

  border-radius: 32px;


  background: linear-gradient(to bottom,
      rgba(139, 171, 229, 1) 0%,
      rgba(139, 171, 229, 0.6) 40%,
      rgba(139, 171, 229, 0.25) 70%,
      rgba(139, 171, 229, 0) 100%);

  z-index: 0;
}


.about-photo-frame img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
  transform: scale(1.30);
  transform-origin: center;
}

.about-right-text {
  font-size: 18px;
  line-height: 1.6;
}





/* === FULL WIDTH FOOTER === */
.footer {
  background: #000;
  color: #fff;

  /* растягиваем футер за пределы body-паддингов */
  margin: 80px -80px 0;
  /* сверху 80px, слева/справа -80px */

  padding: 70px 80px;
  /* внутренние отступы футера */
}

/* Контейнер внутри футера */
.footer-inner {
  max-width: 1800px;
  /* можно увеличить или удалить */
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Логотип */
.footer-logo img {
  height: 75px;
  width: auto;
}

/* Правая колонка */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

/* «Social media» */
.footer-social-label {
  padding: 4px 14px;
  border-radius: 999px;
  border: 1px solid white;
  font-size: 14px;
}

/* Ссылки */
.footer-social-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Одна строка соц-ссылки */
.footer-social-row {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
}

.footer-social-text {
  font-size: 17px;
  min-width: 90px;
}

.footer-social-icon {
  width: 34px;
  height: 34px;
}

/* Instagram link */
.footer-instagram-link {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  max-width: 260px;
  text-align: right;
}

.footer-instagram-link:hover {
  text-decoration: underline;
}

@media (max-width: 1366px) {

  .hero-inner {
    padding: 40px 0;
    gap: 40px;
  }

  .hero-text h1 {
    font-size: 72px;
    margin-bottom: 35px;
  }

  .hero-subtitle {
    font-size: 18px;
  }

  .about {
    margin-top: 150px;
    padding-bottom: 110px;
  }

  .about-title {
    font-size: 64px;
  }

  .about-content {
    gap: 40px;
    padding: 35px 45px 50px;
  }

  .about-right {
    max-width: 360px;
  }

}

@media (max-width: 1024px) {

  .hero-inner {
    flex-direction: column;
    text-align: center;
  }

  .hero-top {
    justify-content: center;
  }

  .hero-btn {
    margin: 0 auto;
  }

  .hero-text h1 {
    font-size: 60px;
  }

  .hero-image img {
    max-width: 100%;
  }

  .about-inner {
    flex-direction: column;
    gap: 60px;
  }

  .about-title {
    font-size: 56px;
    text-align: center;
  }

  .about-content {
    flex-direction: column;
  }

  .about-right {
    max-width: 100%;
  }

  .footer {
    margin: 60px -40px 0;
    padding: 60px 40px;
  }

}

@media (max-width: 768px) {

  .hero {
    margin-top: 40px;
  }

  .hero-text h1 {
    font-size: 42px;
    margin-bottom: 25px;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .hero-btn {
    font-size: 18px;
    padding: 12px 18px;
  }

  .about {
    margin-top: 100px;
    padding-bottom: 80px;
  }

  .about-title {
    font-size: 42px;
  }

  .about-col p,
  .about-col-middle p,
  .about-right-text {
    font-size: 16px;
  }

  .about-illustration {
    width: 100%;
    max-width: 260px;
    margin: 30px auto 0;
  }

  .footer-inner {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .footer-right {
    align-items: center;
  }

  .footer-instagram-link {
    text-align: center;
  }

}

@media (max-width: 1366px) {
  .footer {
    margin: 60px -40px 0;
    padding: 60px 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 40px -20px 0;
    padding: 40px 20px;
  }
}

/* ТЕСТ*/
/* сделай так */
@media (max-width: 1200px) {

  /* лёгкое уменьшение паддингов и gap */
  body {
    padding: 25px 40px 0;
  }

  .navbar {
    padding: 20px 40px 15px;
  }

  .logo-nav-container {
    gap: 40px;
  }

  .nav-links {
    gap: 25px;
  }

  .nav-link {
    padding: 8px 22px;
    font-size: 18px;
  }

}

@media (max-width: 960px) {

  /* начинается «слом» в две строки — уже планшеты */
  body {
    padding: 20px 30px 0;
  }

  body.page-index {
    padding-top: 120px;
  }

  .navbar {
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 30px 15px;
  }

  .logo-nav-container {
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }

}

/* мобилка оставь как есть */
@media (max-width: 768px) {
  body {
    padding: 15px 20px 0;
  }

  body.page-index {
    padding-top: 100px;
  }

  .navbar {
    padding: 15px 20px;
  }

  .logo-nav-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .nav-links {
    justify-content: center;
    gap: 15px;
  }

  .nav-link {
    font-size: 16px;
    padding: 8px 18px;
  }

}